SERVER=192.168.0.183
MONGO_URI=mongodb://any_user:any_password@any_host:any_port/{{MONGO_DB}}
MONGO_DB=any_db
REDIS_HOST=
REDIS_PORT=0000
API_PORT=0000
FFMPEG_PATH=/usr/bin/ffmpeg
LOCAL_STORAGE_PATH=/var/lib/shapify/uploads
JWT_SECRET=any_secret